
@{
    ViewBag.Title = "Index";
}

<div id="contact">
    <div class="container">
        <div class="col-md-6">
            <div class="row">
                <div class="section-title">
                    <h2>Select Source File</h2>
                    <p>Please select the flat file which you want into extract.</p>
                </div>

                @using (Html.BeginForm("Index", "StarCite", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input class="form-control" type="file" name="FileUpload" />
                    <br />
                    <label>Delimiter</label>
                    <input class="form-control" type="text" name="delimiter" />
                    <br />
                    <br />
                    <input class="btn btn-custom btn-lg" type="submit" name="Submit" id="Submit" value="Upload" />
                    <br />
                }
            </div>
            <div class="alert " id="outputmsg">
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success" id="successMessage">@TempData["Success"]</div>
                }
                @if (TempData["Fail"] != null)
                {
                    <div class="alert alert-danger" id="failMsg">@TempData["Fail"]</div>
                }
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1 contact-info">
            <div class="contact-item">
                <h4>Current Proceesing File</h4>
                <p>
                    <span>Address</span>4321 California St,<br>
                    San Francisco, CA 12345
                </p>
            </div>
            <div class="contact-item">
                <p><span>Phone</span> +1 123 456 1234</p>
            </div>
            <div class="contact-item">
                <p><span>Email</span> info@company.com</p>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">
    window.setTimeout(function () {
        // This will execute 5 seconds later
        var label = document.getElementById('outputmsg');
        if (label != null) {
            label.style.display = 'none';
        }
    }, 10000);
</script>